.root {
    -fx-background-color: #fcf3eb;
    
}

.tab{
	-fx-background-color:white;
	-fx-text-fill: black;
}

.button {
    -fx-font-size: 14px;
   /*  -fx-background-color: #233806; */
     /*-fx-background-color: #6C2E6C; #45B69C #1B8CA5;;*/
     -fx-background-color:#6C2E6C;
    -fx-text-fill: white;
    
    /* #5CACF4*/
}

.radio-button {
   -fx-font-size: 14px;
     -fx-background-color: #5CACF4;
    -fx-text-fill: white;
     -fx-padding: 10px;
    -fx-background-radius: 10; /* Set the radius for rounded corners */
     

}

.block{
	 -fx-background-color:#5CACF4;
	   -fx-background-radius: 2; 
	    -fx-text-fill: white;
	    
	     /*-fx-border-color: Black; 
	     -fx-border-width: 2px;*/
	     -fx-padding: 10px;
	     
	         -fx-min-width: 50px; /* set your desired width */
   				 -fx-min-height: 20px; /* set your desired height */
   				 -fx-alignment: center;
	     
}
.block2{
	 -fx-background-color:#6C2E6C;
	   -fx-background-radius: 2; 
	    -fx-text-fill: white;
	    
	     /*-fx-border-color: Black; 
	     -fx-border-width: 2px;*/
	     -fx-padding: 10px;
	     
	         -fx-min-width: 50px; /* set your desired width */
   				 -fx-min-height: 20px; /* set your desired height */
   				 -fx-alignment: center;
	     
}

.border-pane {
    /*-fx-background-color: #233806;*/
     -fx-background-color:#6C2E6C;
    -fx-text-fill: white;
}


.scroll{
	 -fx-background-color: transparent;
}

.label-style {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.box{
	 -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
   /*  -fx-background-color: #668d0c;*/
     -fx-background-color: #6495ED;
    -fx-padding: 40px;
    -fx-background-radius: 15px;
    -fx-height: 60px;
}

.box2{
	 -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    /*-fx-background-color: #668d0c;*/
     -fx-background-color: #6495ED;
    -fx-padding: 40px;
    -fx-background-radius: 15px;
    -fx-height: 60px;
}

.my-label {
    -fx-text-fill: white;
     
}

.my-label2 {
    -fx-text-fill: white;
     -fx-pref-width: 200px;
}


.text-field {
    -fx-background-color: lightgray;
     -fx-text-fill: black;
}    

.oliveButton{
	/*  -fx-background-color:#233806;*/
	  -fx-background-color: #6C2E6C;
	
}

.title{
	 -fx-font-family:"Times New Roman";
  	-fx-font-size:14px;
 	 -fx-font-weight:bold;
 	 -fx-underline:true;
 	  -fx-padding: 10px;
}


.view {
	 -fx-background-color: white;
  /*  -fx-text-fill: #233806;
    -fx-border-color:#233806;*/
    -fx-text-fill: #6C2E6C;
    -fx-border-color:#6C2E6C;
}

.root, .pane {
    /*-fx-background-color: #eaf4d2;*/
     -fx-background-color: #fcf3eb;
}

.gridpane {
  /*  -fx-background-color: #233806; */
     -fx-background-color: #6C2E6C;
}

.arrow{
	  /*   -fx-background-color: #668d0c; */
	    /*  -fx-background-color:#6495ED;*/
	     	     -fx-background-color:#5CACF4;
	     
	
}

.circle {
  
  fill: rgba(100, 149, 237, 0.5); /* Light blue with 50% opacity */
  -fx-background-color:#6495ED;
 
  
 /*  stroke: red;
  stroke-width: 2px;*/
}

.label2 {
  font-family:"Times New Roman";
  font-size: 12px;
  -fx-font-weight:bold;
  fill: white;
}